@model Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary
@if (!Model.IsValid)
{
    <div class="notice-error my-4" role="alert">
        <ul class="list-disc pl-5">
            @foreach (var error in Model.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
