@page
@model Freeboard.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Account";
}
<h1>Account</h1>
@if (Model.UserEmail is not null)
{
    <dl>
        <dt>Name</dt>
        <dd>@Model.UserName</dd>
        <dt>Email</dt>
        <dd>@Model.UserEmail</dd>
        <dt>Role</dt>
        <dd>@Model.UserRole</dd>
    </dl>
}
<form method="post" action="/logout" asp-antiforgery="true">
    <button type="submit">Sign out</button>
</form>
